#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath }}

name: {{ docker_project_slug }}

services:

  semaphore:
    container_name: {{ docker_project_slug }}
    # image: semaphoreui/semaphore:{{ semaphore_version }}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID:           $USER_ID
        SEMAPHORE_VERSION: ${SEMAPHORE_VERSION:-{{ semaphore_version }}}
      target: semaphoreui-user
    pull_policy: build
    user: "${USER_ID}:${GROUP_ID}"
    restart: unless-stopped

    depends_on:
      {% if semaphore_db_dialect == 'mysql' %}
      - mysql
      {% endif %}
      {% if semaphore_db_dialect == 'postgres' %}
      - postgres
      {% endif %}

    {% if semaphore_network_mode == 'host' %}
    network_mode: host
    {% else %}
    networks:
      - default
      {% for item in semaphore_compose_additional_networks %}
      - {{ item }}
      {% endfor %}
    {% endif %}

    {{ docker_project_compose_service_additional_options | indent(4) }}

    env_file: .env

    volumes:
      # requirements
      - ./requirements.txt:/etc/semaphore/requirements.txt
      {% if semaphore_playbook_mounts | length > 0 %}
      # repositories
      {% for item in semaphore_playbook_mounts | default([]) %}
      - {{ item.src }}:{{ item.dest }}
      {% endfor %}
      {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}

  {% if semaphore_db_dialect == 'mysql' %}
  mysql:
    restart: unless-stopped
    image: mysql:8.0
    hostname: mysql
    {% if semaphore_network_mode == 'host' %}
    network_mode: host
    {% endif %}
    volumes:
      - semaphore-mysql:/var/lib/mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: $SEMAPHORE_DB
      MYSQL_USER:     $SEMAPHORE_DB_USER
      MYSQL_PASSWORD: $SEMAPHORE_DB_PASS
  {% endif %}
  {% if semaphore_db_dialect == 'postgres' %}
  postgres:
    restart: unless-stopped
    image: postgres:14
    hostname: postgres
    {% if semaphore_network_mode == 'host' %}
    network_mode: host
    {% endif %}
    volumes:
      - semaphore-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB:       $SEMAPHORE_DB
      POSTGRES_USER:     $SEMAPHORE_DB_USER
      POSTGRES_PASSWORD: $SEMAPHORE_DB_PASS
  {% endif %}

volumes:
  {% if semaphore_db_dialect == 'mysql' %}
  semaphore-mysql:
  {% endif %}
  {% if semaphore_db_dialect == 'postgres' %}
  semaphore-postgres:
  {% endif %}

{% if semaphore_network_mode != 'host' %}
networks:
  {{ docker_project_default_network | indent(2) }}
  {% for item in semaphore_compose_additional_networks %}
  {{ item }}:
    external: true
  {% endfor %}
{% endif %}

{{ docker_project_compose_additional_options }}
