#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  semaphore:
    # image: semaphoreui/semaphore:{{ semaphore_version }}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SEMAPHORE_VERSION: ${SEMAPHORE_VERSION:-{{ semaphore_version }}}
        USER_ID:           $USER_ID
        TZ:                ${TZ:-UTC}
      target: semaphoreui-user
    pull_policy: build
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}
    user: "${USER_ID}:${GROUP_ID}"

    depends_on:
      {% if semaphore_db_dialect == 'mysql' %}
      - mysql
      {% endif %}
      {% if semaphore_db_dialect == 'postgres' %}
      - postgres
      {% endif %}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    env_file: .env

    volumes:
      # requirements
      - ./requirements.txt:/etc/semaphore/requirements.txt
      {% if semaphore_playbook_mounts | length > 0 %}
      # repositories
      {% for item in semaphore_playbook_mounts | default([]) %}
      - {{ item.src }}:{{ item.dest }}
      {% endfor %}
      {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}

  {% if semaphore_db_dialect == 'mysql' %}
  mysql:
    image: mysql:8.0
    restart: {{ docker_project_restart }}
    hostname: mysql
    {% if docker_project_network_mode != 'bridge' %}
    network_mode: {{ docker_project_network_mode }}
    {% endif %}
    volumes:
      - semaphore-mysql:/var/lib/mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_DATABASE: $SEMAPHORE_DB
      MYSQL_USER:     $SEMAPHORE_DB_USER
      MYSQL_PASSWORD: $SEMAPHORE_DB_PASS
  {% endif %}
  {% if semaphore_db_dialect == 'postgres' %}
  postgres:
    image: postgres:14
    restart: {{ docker_project_restart }}
    hostname: postgres
    {% if docker_project_network_mode != 'bridge' %}
    network_mode: {{ docker_project_network_mode }}
    {% endif %}
    volumes:
      - semaphore-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB:       $SEMAPHORE_DB
      POSTGRES_USER:     $SEMAPHORE_DB_USER
      POSTGRES_PASSWORD: $SEMAPHORE_DB_PASS
  {% endif %}

volumes:
  {% if semaphore_db_dialect == 'mysql' %}
  semaphore-mysql:
  {% endif %}
  {% if semaphore_db_dialect == 'postgres' %}
  semaphore-postgres:
  {% endif %}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
